<div class="scope3-form">
    <h2>Scope 3: Émissions externes</h2>
    <form (ngSubmit)="calculate()">
      <div>
        <h3>Transport des boues</h3>
        <label>Distance journalière parcourue (km):</label>
        <input type="number" [(ngModel)]="transportDistance" name="transportDistance" required>
        <label>Nombre de jours annuels de transport:</label>
        <input type="number" [(ngModel)]="transportDays" name="transportDays" required>
      </div>
      
      <div>
        <h3>Production de produits chimiques</h3>
        <label>Quantité annuelle de chlorure ferrique (kg):</label>
        <input type="number" [(ngModel)]="chlorureFerrique" name="chlorureFerrique" required>
        <label>Quantité annuelle de polymère (kg):</label>
        <input type="number" [(ngModel)]="polymere" name="polymere" required>
        <label>Quantité annuelle d'hypochlorite de sodium (kg):</label>
        <input type="number" [(ngModel)]="hypochloriteSodium" name="hypochloriteSodium" required>
        <label>Quantité annuelle de chlore (kg):</label>
        <input type="number" [(ngModel)]="chlore" name="chlore" required>
      </div>
      
      <div>
        <h3>Transport domicile-travail</h3>
        <label>Nombre de personnes :</label>
        <input type="number" [(ngModel)]="commutePeople" name="commutePeople" required>
        <label>Distance journalière parcourue (km):</label>
        <input type="number" [(ngModel)]="commuteDistance" name="commuteDistance" required>
        <label>Nombre de jours annuels de déplacement:</label>
        <input type="number" [(ngModel)]="commuteDays" name="commuteDays" required>
        <label>Type de voiture :</label>
        <select [(ngModel)]="commuteCarType" name="commuteCarType" required>
          <option value="daciaSandero">Dacia Sandero</option>
          <option value="daciaLogan">Dacia Logan</option>
          <option value="renaultKangoo">Renault Kangoo</option>
          <option value="peugeot208">Peugeot 208</option>
          <option value="renaultClio">Renault Clio</option>
        </select>
        <button type="button" (click)="addCommuteData()">Ajouter transport domicile-travail</button>
      </div>
      
      <button type="submit">Calculer Scope 3</button>
    </form>
</div>
  