<div class="full-page">
    <div class="container">
    
        <h1>Calculateur des Émissions de Gaz à Effet de Serre des Stations d'Épuration</h1>

        <mat-tab-group class="forms">
            <mat-tab label="Scope 1">
                <app-scope1 (scope1Calculated)="handleScope1Result($event)"></app-scope1>
            </mat-tab>
            <mat-tab label="Scope 2">
                <app-scope2 (scope2Calculated)="handleScope2Result($event)"></app-scope2>
            </mat-tab>
            <mat-tab label="Scope 3">
                <app-scope3 (scope3Calculated)="handleScope3Result($event)"></app-scope3>
            </mat-tab>
        </mat-tab-group>
    
     </div>
        
    <div class="result">
        <h2>Résultats</h2>
        <p>Scope 1: {{scope1Result}} tonnes CO2e</p>
        <p>Scope 2: {{scope2Result}} tonnes CO2e</p>
        <p>Scope 3: {{scope3Result}} tonnes CO2e</p>
        <p>Total: {{totalResult}} tonnes CO2e</p>
        <app-emission-pie-chart [pieChart]="chartData" *ngIf="showChart"></app-emission-pie-chart>
    </div>
</div>